/* 
	Project 1
	Adam Carlton
	MIU 1310
*/

html {
	background-color: #c3c3c3;
	
}
.red {
	color: red;
}

.hints {
	text-align: center;
	font-size: 12px;
	font-style: italic;
	color: blue;

}

.save {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.mainlink{
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;	
	margin-top: 0px;
	border: 10px solid rgba(0,0,0,1);
	padding: 5px;
	background: -webkit-linear-gradient(rgba(211,217,217,0.95) 10.28%, #ffffff 100%);
	width:275px;
	height:50px;
	text-align: center;
	text-transform: uppercase;
	font: 26px xx-large;
	font-weight: bolder; 
}

.indexd{
	color: black;
	font: 15px xx-large;
	font-weight: bolder;
	line-height: !important;
	text-align: center;
	
}

.indexp{
	color: black;
	font: 15px xx-large;
	font-weight: bolder;
	line-height: !important;
	text-align: center;
	text-transform: uppercase;
	font-size: x-large;

	
	
}

.img1{
	display: block;
	max-width:283px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;	
	margin-top: 0px;
	border: 10px solid rgba(0,0,0,1);
}

.footer{
	text-align: center;
	color: black;
	text-decoration: !important;
}



h1 {
	margin-left:auto;
	margin-right:auto;	
	padding: 5px;
	border: 10px solid rgba(0,0,0,1);
	background: -webkit-linear-gradient(rgba(211,217,217,0.95) 10.28%, #ffffff 100%);
	width:275px;
	text-align: center;
	text-transform: uppercase;
	font: 26px xx-large;
	font-weight: bolder; 
	
}

/*.searchfield{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	border: 2px solid rgba(0,0,0,1);
	width:260px;

}*/
.soon{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	border: 2px solid rgba(0,0,0,1);
	width:260px;
	background: -webkit-linear-gradient(rgba(211,217,217,0.95) 10.28%, #f37029 100%);

}
.btitle{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid rgba(0,0,0,1);
	background: -webkit-linear-gradient(rgba(211,217,217,0.95) 10.28%, #f37029 100%);
	width:300px;

}
.browse {
	display: block;
	margin-left:auto;
	margin-right:auto;	
	padding: 2px;
	border: 2px solid rgba(0,0,0,1);
	border-radius: 10px;
	background: -webkit-linear-gradient(rgba(211,217,217,0.95) 10.28%, #ffffff 100%);
	width:275px;
	text-align: center;
	font: 14px;
	font-weight: bolder; 
	
}
.formtitle{
	color: black;
	font: 15px xx-large;
	font-weight: bolder;
	line-height: !important;
	
}



.date{
	color: black;
	font: 15px xx-large;
	font-weight: bolder;
	line-height: !important;
	
}
.name{
	color: black;
	font: 15px xx-large;
	font-weight: bolder;
	line-height: !important;
	
}
.rshow{
	color: black;
	font: 15px xx-large;
	font-weight: bolder;
	line-height: !important;
	
}
.net{
	color: black;
	font: 15px xx-large;
	font-weight: bolder;
	line-height: !important;
	
}
.personal{
	color: rblack;
	font: 15px xx-large;
	font-weight: bolder;
	line-height: !important;
	
}
.parental{
	color: black;
	font: 15px xx-large;
	font-weight: bolder;
	line-height: !important;
	
}

.specialn{
	color: black;
	font: 15px xx-large;
	font-weight: bolder;
	line-height: !important;
	
}
.hideme{
	display: none; /* <------TO HIDE THE HIDDEN BUTTON */
	
}
input [type="submit"] {
	margin-left: 5px;
	width: 75px;
	height: 23px;
	border: none;
	background-color: steelblue;
	color: white;

}

.button {
  color:#08233e;
  font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  font-size:70%;
  padding:14px;
  background:url(overlay.png) repeat-x center #ffcc00;
  background-color:rgba(255,204,0,1);
  border:1px solid #ffcc00;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border-bottom:1px solid #9f9f9f;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  cursor:pointer;
 }


 .button:hover {
  background-color:rgba(255,204,0,0.8);
 }

}

.submit{
	border-top:		    2px solid rgba(0,0,0,0.5);
	border-left:		2px solid rgba(0,0,0,0.83);
	border-right:		2px solid rgba(0,0,0,0.5);
	border-bottom:		2px solid rgba(0,0,0,0.83);
	padding:		10px 20px !important;
	font-size:		14px !important;
	background-color:	-webkit-linear-gradient(rgba(211,217,217,0.95) 10.28%, #ffffff 100%);
	font-weight:		bold;
	color:			#000000;
}
.clear{
	border-top:		    2px solid rgba(0,0,0,0.5);
	border-left:		2px solid rgba(0,0,0,0.83);
	border-right:		2px solid rgba(0,0,0,0.5);
	border-bottom:		2px solid rgba(0,0,0,0.83);
	padding:		10px 20px !important;
	font-size:		14px !important;
	background:	-webkit-linear-gradient(rgba(211,217,217,0.95) 10.28%, #ffffff 100%);
	font-weight:		bold;
	color:			#000000;
}
.disp{
	border-top:		    2px solid rgba(0,0,0,0.5);
	border-left:		2px solid rgba(0,0,0,0.83);
	border-right:		2px solid rgba(0,0,0,0.5);
	border-bottom:		2px solid rgba(0,0,0,0.83);
	padding:		10px 20px !important;
	font-size:		14px !important;
	background:	-webkit-linear-gradient(rgba(211,217,217,0.95) 10.28%, #ffffff 100%);
	font-weight:		bold;
	color:			#000000;
}













